<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Unhosting Gateway</title>
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
		<link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheet.css">
	</head>
	<body>

		<script type="text/template" id="admin-page-template">
			<v-tabs dark :scrollable="false">
				<v-tabs-bar class="grey">
					<v-tabs-item href="#dashboard" ripple>Dashboard</v-tabs-item>
					<v-tabs-item href="#apps" ripple>Apps</v-tabs-item>
					<v-tabs-item href="#services" ripple>Services</v-tabs-item>
					<v-tabs-slider class="grey darken-3"></v-tabs-slider>
				</v-tabs-bar>
				<v-tabs-items>
					<v-tabs-content transition="none" reverse-transition="none" id="dashboard">
						<v-container fluid grid-list-xl>
							<v-layout>
								<v-flex>
									<h1 class="display-1">Welcome back, Tim!</h1>
								</v-flex>
							</v-layout>
							<v-layout row wrap class="card-list">
								<v-flex v-for="meter in meters" :key="meter.name">
									<v-card>
										<v-toolbar card dark dense class="grey darken-2">
											<v-toolbar-title>{{meter.name}}</v-toolbar-title>
										</v-toolbar>
										<v-card-text>
											<v-progress-circular :size="200" :width="25" :rotate="90" :value="meter.value/meter.max*100" class="progress-monochrome">
												<div class="progress-primary">{{meter.value}} GB</div>
												<div class="progress-secondary">/ {{meter.max}} GB</div>
											</v-progress-circular>
										</v-card-text>
									</v-card>
								</v-flex>
							</v-layout>
						</v-container>
					</v-tabs-content>
					<v-tabs-content transition="none" reverse-transition="none" id="apps">
						<v-list>
							<v-list-tile avatar v-for="app in apps" :key="app.name">
								<v-list-tile-avatar>
									<v-icon class="grey">folder</v-icon>
								</v-list-tile-avatar>
								<v-list-tile-content>
									<v-list-tile-title>{{ app.name }}</v-list-tile-title>
									<v-list-tile-sub-title>{{ app.description }}</v-list-tile-sub-title>
								</v-list-tile-content>
								<v-list-tile-action>
									<v-dialog v-model="app.remove" lazy absolute>
										<v-btn icon ripple slot="activator"><v-icon>delete</v-icon></v-btn>
										<v-card>
											<v-card-title>
												<div class="headline">Are you sure you want to remove this app?</div>
											</v-card-title>
											<v-card-text>This will delete all data associated with the app and deny it access to your Unhosting Services.</v-card-text>
											<v-card-actions>
												<v-btn block flat class="red--text darken-1" :loading="app.removing" @click="removeApp(app)">Yes, remove it</v-btn>
												<v-btn block flat class="blue--text darken-1" :disabled="app.removing" @click="app.remove = false">Cancel</v-btn>
											</v-card-actions>
										</v-card>
									</v-dialog>
								</v-list-tile-action>
							</v-list-tile>
						</v-list>
					</v-tabs-content>
					<v-tabs-content transition="none" reverse-transition="none" id="services">
						<v-list>
							<v-list-group v-for="service in services" :value="service.open" :key="service.name">
								<v-list-tile avatar slot="item">
									<v-list-tile-avatar>
										<v-icon class="grey">folder</v-icon>
									</v-list-tile-avatar>
									<v-list-tile-content>
										<v-list-tile-title>{{ service.name }}</v-list-tile-title>
										<v-list-tile-sub-title>{{ service.description }}</v-list-tile-sub-title>
									</v-list-tile-content>
								</v-list-tile>
								<v-card flat>
									<v-card-text class="grey lighten-3">
										This service has no configuration options
									</v-card-text>
								</v-card>
							</v-list-group>
						</v-list>
					</v-tabs-content>
				</v-tabs-items>
			</v-tabs>
		</script>

		<script type="text/template" id="login-page-template">
			<v-container fluid>
				<v-layout>
					<v-flex>
						<v-card class="login-form">
							<v-toolbar card dark dense class="grey darken-2">
								<div class="headline">Log in</div>
							</v-toolbar>
							<v-card-text>
								<v-form v-model="valid" v-on:submit.prevent="submit">
									<v-text-field
										label="Enter your passphrase"
										v-model="passphrase"
										required
										:rules="passphrase_rules"
										:append-icon="show_passphrase ? 'visibility_off' : 'visibility'"
										:append-icon-cb="() => show_passphrase = !show_passphrase"
										:type="show_passphrase ? 'text' : 'password'">
									</v-text-field>
									<v-checkbox label="Stay logged in" v-model="preserve_session" class="dense"></v-checkbox>
									<v-btn type="submit" :disabled="!valid" :loading="logging_in" block>Log in</v-btn>
								</v-form>
								<v-dialog v-model="show_error" lazy absolute>
									<v-card>
										<v-card-title>
											<div class="headline">Error logging in:</div>
										</v-card-title>
										<v-card-text>{{error}}</v-card-text>
										<v-card-actions>
											<v-btn @click="show_error = false">Ok</v-btn>
										</v-card-actions>
									</v-card>
								</v-dialog>
							</v-card-text>
						</v-card>
					</v-flex>
				</v-layout>
			</v-container>
		</script>

		<script type="text/template" id="auth-page-template">
			<p>auth page</p>
		</script>

		<div v-cloak id="root">
			<v-app>
				<v-toolbar dark class="grey darken-4">
					<v-toolbar-title class="display-1">Unhosting Gateway</v-toolbar-title>
				</v-toolbar>
				<main>
					<router-view></router-view>
				</main>
			</v-app>
		</div>

		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="/unhosting.js" type="text/javascript"></script>
		<script src="/index.js" type="text/javascript"></script>
	</body>
</html>