/* Overrides */

[v-cloak] {
	display: none;
}
.none-leave-active {
	display: none;
}
.tabs__content .card {
	border-radius: 2px;
}

/* Helpers */

.card-list .flex {
	width: auto;
	flex-grow: 0;
}
@media (max-width: 600px) {
	.card-list .flex {
		flex-grow: 1;
	}
}

.progress-monochrome {
	color: #444;
}
.progress-primary {
	font-size: 30px;
	color: #222;
	line-height: 1.2;
}
.progress-secondary {
	font-size: 18px;
	color: #666;
	line-height: 1.2;
}

.input-group.dense {
	padding: 0;
}
.input-group.dense .input-group__details {
	display: none;
}

/* Login Page */

.login-form {
	width: 420px;
	max-width: 100%;
	margin: 0 auto;
}
